@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-loading {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-loading img {
  height: 150px;
  width: 150px;
}
.container-loading span {
  margin-top: 20px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 25px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
header .h_sup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: auto;
}
header .h_sup img {
  width: 250px;
  height: auto;
}
header .h_sup nav {
  width: 50%;
}
header .h_sup nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0;
}
header .h_sup nav ul li .isactivelink {
  color: #ba8a49;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
}
header .h_sup nav ul li .isnotactivelink {
  color: white;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
}
header .h_sup nav ul li .isnotactivelink:hover {
  color: #ba8a49;
}
header .h_sup .iconos_header {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}
header .h_sup .iconos_header .icon-link {
  text-decoration: none;
  color: white;
}
header .h_sup .iconos_header .icon-link .icon {
  cursor: pointer;
  font-size: 25px;
}
header .h_sup .iconos_header .icon-link .icon:hover {
  color: #ba8a49;
}
header .h_sup .iconos_header .icon-link .total-carrito {
  margin-left: 10px;
  color: white;
}
header .h_inf {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 50px;
  align-items: center;
  border-top: 2px solid #ba8a49;
}
header .h_inf input {
  height: 15px;
}

footer .footer-box {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  color: #eaeaea;
}
footer .footer-box nav {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer .footer-box nav .nav-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
footer .footer-box nav .nav-footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
footer .footer-box nav .nav-footer ul li span {
  color: #eaeaea;
  cursor: pointer;
}
footer .footer-box nav .nav-footer ul li span:hover {
  color: #ba8a49;
}
footer .footer-box nav .nav-footer .list-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
footer .footer-box nav .nav-footer .list-icons span {
  cursor: pointer;
  color: #eaeaea;
}
footer .footer-box nav .nav-footer .list-icons .icon-footer {
  font-size: 20px;
}
footer .footer-box nav .nav-footer .list-icons .icon-footer:hover {
  color: #ba8a49;
}
footer .final-footer {
  border-top: 2px #ba8a49 solid;
  background-color: black;
  text-align: center;
  color: #eaeaea;
}

.ItemListContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.ItemListContainer h1 {
  margin-top: 50px;
  font-family: "Inconsolata", monospace;
}
.ItemListContainer .ItemList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 2vw;
  padding: 5% 10%;
}
.ItemListContainer .ItemList .card {
  height: 400px;
  box-shadow: 0px 2px 5px gray;
  overflow: hidden;
  transition: transform 0.5s;
  width: 100%;
  border-radius: 3%;
}
.ItemListContainer .ItemList .card img {
  width: 100%;
  height: 50%;
  margin: 3px;
  -o-object-fit: contain;
     object-fit: contain;
}
.ItemListContainer .ItemList .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2px;
  height: 50%;
  border-top: 2px solid #ba8a49;
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
}
.ItemListContainer .ItemList .card .card-body h4 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
}
.ItemListContainer .ItemList .card .card-body span {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}
.ItemListContainer .ItemList .card .card-body .container-boton-card {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ItemListContainer .ItemList .card .card-body .container-boton-card .link-boton {
  height: 25px;
  text-decoration: none;
  font-family: "Roboto";
  font-size: medium;
  text-align: center;
  width: 50%;
  background-color: #ba8a49;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: opacity 0.2s ease-in-out;
  transition: transform 0.4s;
}
.ItemListContainer .ItemList .card .card-body .container-boton-card .link-boton:hover {
  transform: scale(1.05);
  color: black;
}
.ItemListContainer .ItemList .card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px #ba8a49;
}

main {
  padding-top: 50px;
  width: 90%;
  margin: 10px auto;
}
main .without-products {
  width: 70%;
  margin: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 5px 20px grey;
  gap: 5%;
}
main .without-products img {
  height: 90px;
  width: 90px;
}
main .without-products h1 {
  font-family: "Inconsolata", monospace;
  font-size: 30px;
}
main .without-products span {
  font-family: "Roboto";
  font-weight: 600;
}
main .without-products .link-boton {
  text-decoration: none;
  font-family: "Roboto";
  font-size: medium;
  text-align: center;
  height: 25px;
  width: 25%;
  background-color: #ba8a49;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: opacity 0.2s ease-in-out;
  transition: transform 0.4s;
}
main .without-products .link-boton:hover {
  transform: scale(1.05);
  color: black;
}
main #hay-productos {
  width: 100%;
  height: 500px;
  flex-direction: column;
  justify-content: space-around;
}
main #hay-productos h1 {
  font-size: 25px;
  font-family: "Roboto";
  margin-bottom: 20px;
}
main #hay-productos .titulos-resumen {
  align-items: center;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  font-family: "Inconsolata", monospace;
}
main #hay-productos .titulos-resumen span {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 16px;
}
main #hay-productos .titulos-resumen .titulo-producto {
  width: 45%;
  font-family: "Inconsolata", monospace;
}
main #hay-productos .titulos-resumen .titulo-precio {
  width: 15%;
  display: flex;
  align-items: center;
}
main #hay-productos .titulos-resumen .titulo-cantidad {
  width: 30%;
  display: flex;
  align-items: center;
}
main #hay-productos .titulos-resumen .titulo-preciototal {
  width: 10%;
  display: flex;
  align-items: center;
}
main #hay-productos #productos-en-espera #lista-carrito {
  padding: 20px;
  border: 1px solid gray;
  box-shadow: 0 2px 15px #ba8a49;
  max-height: 400px;
  overflow-y: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  list-style: none;
}
main #hay-productos #productos-en-espera #lista-carrito .card-producto-en-espera {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
}
main #hay-productos #productos-en-espera #lista-carrito .card-producto-en-espera .titulo-producto {
  width: 45%;
  display: flex;
  gap: 15px;
  align-items: center;
}
main #hay-productos #productos-en-espera #lista-carrito .card-producto-en-espera .titulo-producto .bi-trash {
  cursor: pointer;
  font-size: 25px;
}
main #hay-productos #productos-en-espera #lista-carrito .card-producto-en-espera .titulo-producto .bi-trash:hover {
  color: #ba8a49;
}
main #hay-productos #productos-en-espera #lista-carrito .card-producto-en-espera .titulo-producto .container-img-cart {
  overflow: hidden;
}
main #hay-productos #productos-en-espera #lista-carrito .card-producto-en-espera .titulo-producto .container-img-cart img {
  width: 75px;
  height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}
main #hay-productos #productos-en-espera #lista-carrito .card-producto-en-espera .titulo-producto span {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 800;
}
main #hay-productos #productos-en-espera #lista-carrito .card-producto-en-espera .titulo-precio {
  width: 15%;
  display: flex;
  font-family: "Inconsolata", monospace;
  font-weight: bolder;
  align-items: center;
}
main #hay-productos #productos-en-espera #lista-carrito .card-producto-en-espera .titulo-cantidad {
  width: 30%;
  display: flex;
  align-items: center;
  font-family: "Inconsolata", monospace;
  font-weight: bolder;
}
main #hay-productos #productos-en-espera #lista-carrito .card-producto-en-espera .titulo-preciototal {
  width: 10%;
  display: flex;
  align-items: center;
  font-family: "Inconsolata", monospace;
  font-weight: bolder;
}
main #hay-productos .total-box {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
}
main #hay-productos .total-box #total-compra {
  font-family: "Inconsolata", monospace;
  font-weight: bolder;
}
main #hay-productos .botones-finales {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
main #hay-productos .botones-finales button {
  height: 30px;
  width: auto;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  transition: background-color 0.3s;
}
main #hay-productos .botones-finales button:hover {
  background-color: #ba8a49;
  color: black;
}
main #hay-productos .botones-finales #borrartodo {
  cursor: pointer;
}
main #hay-productos .botones-finales #finalizar a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 5% 8%;
}
main .container-detail {
  height: auto;
  display: flex;
  justify-content: space-around;
  gap: 4%;
  border-radius: 30px;
  box-shadow: 0px 2px 5px gray;
}
main .container-detail .container-imagen {
  width: 45%;
  overflow: hidden;
}
main .container-detail .container-imagen img {
  width: 500px;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}
main .container-detail .description-product {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .container-detail .description-product h1 {
  font-family: "Roboto";
  font-weight: bold;
}
main .container-detail .description-product p {
  font-family: "Roboto";
  line-height: 30px;
  font-weight: bold;
}
main .container-detail .description-product span {
  font-family: "Inconsolata", monospace;
  font-weight: bolder;
}
main .container-detail .description-product .description-bottom {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .container-detail .description-product .description-bottom .count {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
main .container-detail .description-product .description-bottom .count .count-body {
  border-radius: 5%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
main .container-detail .description-product .description-bottom .count .count-body .boton-plus-less {
  color: #ba8a49;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
main .container-detail .description-product .description-bottom .link-boton {
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto";
  font-size: medium;
  text-align: center;
  text-align: center;
  height: 25px;
  width: 45%;
  background-color: #ba8a49;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: opacity 0.2s ease-in-out;
  transition: transform 0.4s;
}
main .container-detail .description-product .description-bottom .link-boton:hover {
  transform: scale(1.05);
  color: black;
}
main .container-detail .description-product .description-bottom .disabled {
  cursor: default;
  text-decoration: none;
  font-family: "Roboto";
  font-size: medium;
  text-align: center;
  text-align: center;
  height: 25px;
  width: 45%;
  background-color: gray;
  color: black;
  border-radius: 5px;
  border: none;
  transition: none;
}
main .container-detail .description-product .description-bottom .disabled:hover {
  transform: none;
}
main .container-detail .description-product .description-bottom .error-message span {
  font-family: "Roboto";
  color: rgb(155, 77, 77);
}

main {
  display: flex;
  flex-direction: row;
  gap: 5%;
}
main .form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  width: 50%;
}
main .form-container h1 {
  font-family: "Roboto";
  font-size: 25px;
}
main .form-container form {
  height: 60%;
}
main .form-container form .formulario-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .form-container form .formulario-1 input {
  height: 35px;
  width: 50%;
  border: 2px solid #ba8a49;
  border-radius: 20px;
  border-color: #ba8a49;
  box-shadow: 0px 2px 6px #ba8a49;
  padding-left: 10px;
}
main .form-container form .formulario-1 input::-moz-placeholder {
  color: gray;
  font-size: 16px;
  font-family: "Inconsolata", monospace;
}
main .form-container form .formulario-1 input::placeholder {
  color: gray;
  font-size: 16px;
  font-family: "Inconsolata", monospace;
}
main .form-container form .formulario-1 .error-message {
  margin-left: 10px;
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  color: rgb(153, 38, 38);
}
main .form-container button {
  cursor: pointer;
  margin-left: 25%;
  height: 30px;
  width: 30%;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  transition: background-color 0.3s;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
}
main .form-container button:hover {
  background-color: #ba8a49;
  color: black;
}
main .resume-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 45%;
}
main .resume-container h2 {
  font-family: "Roboto";
  margin-bottom: 25px;
}
main .resume-container .container-resproducts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0 5px 20px grey;
}
main .resume-container .container-resproducts .box-resume-padding {
  padding: 20px;
  border-bottom: 2px solid black;
  overflow: hidden;
}
main .resume-container .container-resproducts .box-resume-padding .container-card-resume {
  display: flex;
  justify-content: space-between;
}
main .resume-container .container-resproducts .box-resume-padding .container-card-resume img {
  margin-right: 10px;
  height: 50px;
  width: 50px;
}
main .resume-container .container-resproducts .box-resume-padding .container-card-resume .container-body-card-resume {
  display: flex;
  justify-content: space-around;
}
main .resume-container .container-resproducts .box-resume-padding .container-card-resume .container-body-card-resume span {
  margin-right: 25px;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: bold;
}
main .total-final-span {
  margin-top: 30px;
  margin-left: auto;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
}/*# sourceMappingURL=App.css.map */